<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
  <a class="navbar-brand" href="/">Pittsburgh Data Crew</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav justify-content-between">
      <li class="nav-item {% if page.title == 'Home' %}active{% endif %}"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item {% if page.title == 'Methodology' %}active{% endif %}"><a class="nav-link" href="/methods/">Methodology</a></li>
      <li class="nav-item {% if page.title == 'Our Data' %}active{% endif %}"><a class="nav-link" href="/data/">Our Data</a></li>
    </ul>
  </div>
</nav>
